/*Importing fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

body{
    text-align: center;
    background-color: #9B4F08;
}

::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

header{
    width: 100%;
    height: 100px;
    background-image: url("../img/all-saints-wallpaper.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    border: #ab5a0e 1px solid;
    padding-top: 20px;
}

a{
    text-decoration: none;
}

.container-header{
    display: inline-block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container-header ul{
    display: flex;
    align-items: center;
}
.container-header ul li{
  width: 50%;
}

.container-header ul .li-left{
    text-align: left;
}

.container-header ul .li-right{
    text-align: right;
}

.container-header ul li img{
    display: inline-block;
}

.container-header ul li input{
    display: inline-block;
}

#input-search{
    width: 50%;
    background-color: transparent;
    border: solid 2px #fff;
    border-radius: 50px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /*Your new styles */
    height: 20px;
    width: 20px;
    background-image: url("../img/icons/close.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .container-background{
      width: 100%;
      padding-bottom: 20px;
      background-color: #fff;
  }

  .container{
    width: 1000px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .card{
      display: inline-block;
      width: 180px;
      height: 280px;
      margin: 5px 5px 40px 5px;
      border: solid 2px #9B4F08;
      border-radius: 20px;
  }

  .card-img{
    width: 90%;
    height: 200px;
    margin: 5%;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.card-img img{
    max-width: 100%;
}

.card h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #EBAC10; 
}

.card h2{
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #9B4F08;  
}

.container-footer{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300px;
    color: #fff;
}

.item-search{
    display: inline-block;
}

.item-no-search{
    display: none;
}

